template.py
uber-raw-data-sep14.csv.gz
riot.txt

briar.png
camille.jpg
diana.png
fiora.png
milio.webp
morgana.png
norra.png
smolder.png
xerath.png
gwen.png
kalista.png
karma.png
nami.png
nasus.png
olaf.png
rakan.png
ryze.png
taric.png
tahmkench.png
taric.png
varus.png

